<body>
{% extends 'base.html' %}

{% block content %}



<div class="left_textbox">
  <h1> EARTH </h1>
  <h5>
    Earth is the largest planet in our solar system. It is the only planet in our solar system that is not a gas giant.
  </h5>
  <p> Disaster App is a powerful application that allows users to stay informed about potential threats from asteroids approaching Earth and natural disasters. Users can search for hazardous asteroids and track ongoing natural disasters like earthquakes, fires, floods, and more. The app provides visualizations, predictions, and possible scenarios to help users understand the magnitude of these events. Stay prepared and informed with Disaster App!</p>
</div>

<div class="earth">
  <div></div>
</div>

</body>

<div class="moon">
  <div><div>
  </div>

  <style>


body {
  
  background-image: url("https://cdn.pixabay.com/photo/2016/09/08/12/00/stars-1654074_1280.jpg");
  background-size: cover; /* Obrazek będzie rozciągnięty, aby wypełnić całe tło */
  background-position: center; /* Wyśrodkowanie obrazka */
  background-repeat: no-repeat; /* Wyłączenie powtarzania obrazka */
}
div {
  margin: 0;
  padding: 0;
}
.left_textbox {
  
    width: 350px;
    height: 500px;
    resize: none; /* Wyłączenie możliwości zmiany rozmiaru pola tekstowego przez użytkownika */
    background-color: rgba(128, 0, 128, 0.3); /* Kolor tła - ciemno-fioletowy z przezroczystością */
    backdrop-filter: blur(5px); /* Rozmycie tła */
    padding: 10px; /* Wewnętrzny odstęp */
    font-size: 14px; /* Rozmiar czcionki */
    color: #fff; /* Kolor tekstu */
    border: 1px solid #ccc; 
    border-radius: 20px; /* Zaokrąglenie krawędzi */
    margin-top: 70px;
}

.earth {
  width: 300px;
  height: 300px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
  
}


.earth:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: -20px -20px 50px 2px #000 inset;
  border-radius: 50%;
}

.earth > div {
  width: 200%;
  height: 100%;
  animation: spin 30s linear alternate infinite;
  background: url(https://1.bp.blogspot.com/-UUXaK5GCj-k/UcsKJRMgkVI/AAAAAAAACfM/sePP_H08JTQ/w1200-h630-p-k-no-nu/1.jpg);
  /*orginal image at https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Earthmap1000x500compac.jpg/640px-Earthmap1000x500compac.jpg */
  background-size: cover;
}
@keyframes spin {
  to {
    transform: translateX(-50%);
  }
}

.moon {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 0;
  bottom: 300;
  left: 700px;
  right: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
}


.moon:after {
  position: absolute;
  content: "";
  top: 0px;
  bottom: 0;
  left: 0px;
  right: 0;
  box-shadow: -20px -20px 50px 2px #000 inset;
  border-radius: 50%;
}

.moon > div {
  width: 200%;
  height: 100%;
  animation: spin 30s linear alternate infinite;
  background: url(https://svs.gsfc.nasa.gov/vis/a000000/a004700/a004720/lroc_color_poles_1k.jpg);
  /*orginal image at https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Earthmap1000x500compac.jpg/640px-Earthmap1000x500compac.jpg */
  background-size: cover;
}
@keyframes spin {
  to {
    transform: translateX(-50%);
  }
</style>

{% endblock %}